<div class="dialog-container dialog-container-pw">
    <div class="auth-form-container">
        <h1>Passwort zurücksetzen</h1>
        <span class="fs-20 text-center">Bitte geben Sie ihre E-Mail-Adresse ein.</span>
    </div>
    <form class="auth-form-container" #form="ngForm" (ngSubmit)="sendMail()" id="pwMailForm">
        <div class="form-input">
            <img src="/icons/login/mail_passive.svg" alt="" class="form-input-icon">
            <input name="email" type="email" placeholder="beispielname@email.com" [(ngModel)]="email" required email>
        </div>
        <span class="fs-20 text-center" style="color: var(--clr-gray);">Wir senden Ihnen eine E-Mail, über die
            Sie Ihr Passwort ändern können.</span>
    </form>
    <button type="submit" class="submit-button" [class]="form.valid ? 'btn-enabled' : 'btn-disabled'"
        [disabled]="!form.valid" form="pwMailForm" style="margin-left: auto;">
        <span>E-Mail senden</span>
    </button>
    <img src="/icons/global/arrow_back.svg" alt="arrow_back" class="arrow-back" routerLink="/auth">
</div>