@use './../../../../../styles/variables.scss' as *;

.dialog-container-pw {
    width: 696px;

    .text-center {
        max-width: 400px;
    }
}

@media (max-width: $bp-tablet-md) {

    .dialog-container-pw {
        width: 100%;

        h1{
            max-width: 80%;
        }
    }
}