.mat-drawer-container {
    // width: calc(100% - 32px);
    height: 800px;
    // border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #ECEEFE;
}

.left-menu-button-icon-container {
    // display: flex;
    // height: 100%;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    left: -142px;
    top: 60%;
    z-index: 1;
    transform: rotate(270deg);
    width: 339px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 0 0 30px 30px;
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    background-color: #ffffff;

    &:hover {
        color: #535AF1;
        font-weight: 700;
    }

    .show-menu-icon:hover {
        content: url(/icons/global/show_menu_hover.svg);
    }
}

.left-menu-sidenav {
    padding: 30px;
    border-radius: 30px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.show-menu-icon {
    content: url(/icons/global/show_menu.svg);
    height: 32px;
    width: 32px;
    transform: rotate(90deg);
}

.channels-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 16px;
        }
    }
}