.login-google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--bg-clr);
    padding: 16px 32px;
    border-radius: 50px;
    width: 100%;
    border: 1px solid var(--bg-clr);
    height: 57px;
    color: var(--clr-purple-1);
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    >img {
        height: 100%;
    }

    &:hover {
        border: 1px solid var(--clr-purple-1);
        font-weight: 700;
    }
}


.guest-login-btn {
    height: 49px;
    padding: 16px 32px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-purple-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-purple-1);
    background-color: transparent;
    cursor: pointer;

    &:hover{
        background-color: var(--clr-purple-1);
        color: white;
    }
}