<div class="dialog-container">
    <div class="auth-form-container">
        <h1>Anmeldung</h1>
        <span class="fs-20 text-center">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
            verwendest.</span>
    </div>
    <form class="auth-form-container" #form="ngForm" (ngSubmit)="submitLogin()" id="loginForm">
        <div class="form-input">
            <img src="assets/icons/login/mail_passive.svg" alt="" class="form-input-icon">
            <input name="email" type="email" placeholder="beispielname@email.com" [(ngModel)]="email" required email>
        </div>
        <div class="form-input">
            <img src="assets/icons/login/lock_passive.svg" alt="" class="form-input-icon">
            <input name="password" type="password" placeholder="Passwort" [(ngModel)]="password" required>
            @if (showEmailLoginError) {
            <span class="error-message">Falsches Passwort oder E-Mail. Bitte erneut versuchen.</span>
            }
        </div>
        <span class="linked-text" routerLink="/auth/password-forgot">Passwort vergessen?</span>
    </form>
    <div class="form-divider">
        <div></div>
        <span>ODER</span>
    </div>
    <div class="auth-form-container">
        <button class="login-google-btn" (click)="triggerGoogleLogin()">
            <img src="assets/icons/login/google.svg" alt="">
            <span>Anmelden mit Google</span>
        </button>
    </div>
    <div class="auth-form-container flex-hor">
        <button type="submit" class="submit-button" [class]="form.valid ? 'btn-enabled' : 'btn-disabled'"
            [disabled]="!form.valid" form="loginForm">
            <span>Anmelden</span>
        </button>
        <button class="guest-login-btn" (click)="continueAsGuest()">
            <span>Gäste-Login</span>
        </button>
    </div>
</div>