<div class="dialog-container">
    <div class="auth-form-container">
        <h1>Anmeldung</h1>
        <span class="fs-20 text-center">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    </div>
    <div class="auth-form-container">
        <div class="form-input">
            <img src="/icons/login/mail_passive.svg" alt="" class="form-input-icon">
            <input type="email" placeholder="beispielname@email.com">
        </div>
        <div class="form-input">
            <img src="/icons/login/lock_passive.svg" alt="" class="form-input-icon">
            <input type="password" placeholder="Passwort">
        </div>
        <span class="linked-text">Passwort vergessen?</span>
    </div>
    <div class="form-divider">
        <div></div>
        <span>ODER</span>
    </div>
    <div class="auth-form-container">
        <button class="login-google-btn">
            <img src="/icons/login/google.svg" alt="">
            <span>Anmelden mit Google</span>
        </button>
    </div>
    <div class="auth-form-container flex-hor">
        <button>
            <span>Anmelden</span>
        </button>
        <button>
            <span>Gäste-Login</span>
        </button>
    </div>
</div>