@import 'styles/message-base';
@import 'styles/message-actions';
@import 'styles/message-reactions';
@import 'styles/message-edit';

.remaining-reactions {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 13px;
  color: #686868;
  margin-left: 4px;
}