<div *ngIf="messages$ | async as messages">

    <div *ngIf="messages.length === 0" class="empty-channel-info">
        <p>Sei der Erste, der eine Nachricht in diesem Channel schreibt!</p>
    </div>

    <section *ngFor="let msg of messages" class="message-wrapper">
        <div class="message-content" [ngClass]="{ fdrr: isOwnMessage(msg) }">
            <img class="profile-pic" [src]="getSenderAvatarUrl(msg.senderId)" [alt]="getSenderName(msg.senderId)" />


            <div>
                <div>
                    <span class="send-name">
                        {{ getSenderName(msg.senderId) }}
                    </span>
                    <!-- Uhrzeit optional -->
                    <!-- <span class="send-info">{{ msg.createdAt | date:'HH:mm' }} Uhr</span> -->
                </div>

                <p class="text bubble" [ngClass]="isOwnMessage(msg) ? 'me-person' : 'other-person'">
                    {{ msg.text }}
                </p>

                <div *ngIf="msg.threadCount > 0">
                    <a href="javascript:void(0)">{{ msg.threadCount }} Antworten</a>
                </div>
            </div>
        </div>
    </section>

</div>