section {
    font-family: 'Nunito';
}

.date-separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.date-separator::before,
.date-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.date-separator span {
    padding: 6px 14px;
    border: 1px solid #d0d0e0;
    border-radius: 20px;
    background: white;
    font-family: sans-serif;
    font-size: 14px;
}

.profile-pic {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.message-content {
    display: flex;
    gap: 16px;
    padding: 10px 24px;

    &:hover {
        cursor: pointer;
        background-color: var(--bg-clr); // Hover-Hintergrund der ganzen Zeile

        .other-person {
            background-color: var(--clr-white);
        }
    }

    >div {
        >div {
            display: flex;
            gap: 16px;
            align-items: center;
        }
    }
}

.fdrr {
    flex-direction: row-reverse;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #535AF1;
    font-size: 18px;
}

.send-name {
    font-weight: bold;
    font-size: 18px;
}

.send-info {
    font-size: 14px;
    color: #686868;
}

.bubble {
    padding: 15px;
    border-radius: 30px;
}

.other-person {
    background-color: var(--bg-clr);
    color: black;
    border-top-left-radius: 0px;
}

.me-person {
    background-color: var(--clr-purple-2);
    color: white;
    border-top-right-radius: 0px;
}

.text {
    margin: 10px 0px;
}