<div class="add-channel-dialog-container">
    <div class="text-closeIcon-container">
        <h1>Channel erstellen</h1>
        <img src="assets/icons/global/close_right_top.svg" class="close-icon cp" (click)="closeDialog()" alt="">
    </div>
    <p class="text-channel-dialog">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen
        sein #marketing zum
        Beipsiel.
    </p>
    <div class="text-input-container">
        <h3 class="text">Channel-Name</h3>
        <input placeholder="#    z.B. Kooperationsprojekt" [(ngModel)]="channelName" />
    </div>
    <div class="text-input-container">
        <div class="">
            <h3 class="text">Beschreibung <span class="optional">(optional)</span> </h3>
        </div>
        <input placeholder="Dein Text hier" [(ngModel)]="descriptionName" />
    </div>

    <div class="privacy-selection">
        <label class="radio-option">
            <input type="radio" name="privacy" [value]="false" [(ngModel)]="isPrivate">
            <span>Öffentlich</span>
            <small>Jeder kann diesem Channel beitreten</small>
        </label>

        <label class="radio-option">
            <input type="radio" name="privacy" [value]="true" [(ngModel)]="isPrivate">
            <span>Privat</span>
            <small>Nur eingeladene Mitglieder haben Zugriff</small>
        </label>
    </div>

    <div class="button-add-container">
        <button class="button-add-channel cp" (click)="createChannel()">Erstellen</button>
    </div>
</div>