@use './../../../../styles/variables.scss' as *;

.toast-wrapper {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  pointer-events: none;
}

.toast {
  pointer-events: auto;
  padding: 32px;
  border-radius: 24px 24px 0px 24px;
  font-size: 32px;
  font-weight: 700;
  background-color: var(--clr-purple-1);
  box-shadow: 0px 6px 10px 0px #00000033;
  transition: transform 0.15s ease, opacity 0.15s ease;
  color: white;
  display: flex;
  gap: 16px;
  align-items: center;

  .toast-message {
    display: block;
    line-height: 1.4;
  }

  img{
    height: 36px;
    aspect-ratio: 1/1;
  }
}
