app-workspace-sidebar {
    height: calc(100% - 10px);
}

app-thread-menu {
    width: 485px;
    height: calc(100% - 10px);
}

app-view {
    width: 100%;
    height: calc(100% - 10px);
}

.shell {
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: calc(100vh - 76px - 30px);
}

.resp-fab {
    position: absolute;
    bottom: 72px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #444DF2;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    .edit-icon {
        color: white;
        font-size: 26px;

        font-variation-settings:
            'FILL' 1,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24;
    }
}

@media (max-width: 1024px) {
    .shell {
        display: block;
    }
}