app-workspace-sidebar {
    height: calc(100% - 10px);
}

app-thread-menu {
    width: 485px;
    height: calc(100% - 10px);
}

app-view {
    width: 100%;
    height: calc(100% - 10px);
}
section {
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: calc(100vh - 76px - 30px);
}