<!-- <app-topbar></app-topbar>

<section>
  <app-workspace-sidebar
    [currentUserUid]="currentUserUid"
  ></app-workspace-sidebar>

  <app-view
    [currentUserUid]="currentUserUid"
  ></app-view>

  <app-thread-menu></app-thread-menu>
</section> -->


<app-topbar [isNewMessageMode]="isNewMessageMode()" [showMobileBack]="isMobile() && activeMobileView() !== 'sidebar'"
  (back)="backOneLevel()">
</app-topbar>


<section class="shell">

  @if (!isMobile() || activeMobileView() === 'sidebar') {
  <app-workspace-sidebar [isMobile]="isMobile()" [currentUserUid]="currentUserUid" (newMessage)="openNewMessage()"
    (mobileViewChange)="activeMobileView.set($event)"></app-workspace-sidebar>
  }

  @if (!isMobile() || activeMobileView() === 'chat' || activeMobileView() === 'new-message') {
  <app-view [currentUserUid]="currentUserUid"></app-view>
  }


  @if (!isMobile() || activeMobileView() === 'thread') {
  <app-thread-menu></app-thread-menu>
  }

</section>

@if (isMobile() && activeMobileView() === 'sidebar') {
<button class="resp-fab" matFab (click)="openNewMessage()">
  <img src="/assets/icons/global/edit_square_white.svg" alt="">
</button>
}