app-workspace-sidebar {
    height: calc(100% - 10px);
    flex-shrink: 0;
}

app-thread-menu {
    width: 0;
    min-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        min-width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        margin 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        flex 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &.thread-open {
        width: 485px;
        min-width: 485px;
        opacity: 1;
        margin-right: 10px;
        flex: 0 0 485px;
    }

    &.thread-open.full-width {
        width: 100%;
        max-width: none;
        min-width: 0;
        flex: 1;
    }

    height: calc(100% - 10px);
    flex-shrink: 0;
}

app-view {
    width: 100%;
    height: calc(100% - 10px);
    flex: 1;
    min-width: 0;

    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        flex 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    transform: translateX(0);

    &.hidden {
        flex: 0 0 0;
        width: 0;
        min-width: 0;
        max-width: 0;
        opacity: 0;
        transform: translateX(-20px);
        overflow: hidden;
        pointer-events: none;
    }
}

.shell {
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: calc(100vh - 76px - 30px);
    overflow: hidden;

    transition: gap 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:has(app-view.hidden) {
        gap: 8px;
    }
}

.resp-fab {
    position: absolute;
    bottom: 72px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #444DF2;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    .edit-icon {
        color: white;
        font-size: 26px;

        font-variation-settings:
            'FILL' 1,
            'wght' 200,
            'GRAD' 0,
            'opsz' 24;
    }
}

@media (max-width: 1024px) {
    .shell {
        display: block;
    }

    app-view {
        transition: none;

        &.hidden {
            transform: none;
        }
    }
}

@media (max-width: 1550px) {
    app-thread-menu {
        &.thread-open {
            width: 350px;
            min-width: 350px;
        }

        &.thread-open.full-width {
            width: 100%;
            max-width: none;
            min-width: 0;
        }
    }
}

@media (max-width: 375px) {
    .shell {
        height: calc(100vh - 76px - 4px);
    }
}