.dialog-container {
    width: 606px;
    height: fit-content;
    min-height: 240px;
    background-color: var(--clr-white);
    border-radius: 30px;
    padding: 32px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-family: 'Nunito';

    h1 {
        color: var(--clr-purple-1);
        text-align: center;
        font-weight: 700;
        font-size: 46px;
    }
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-divider {
    position: relative;
    width: 100%;

    >div {
        height: 1px;
        background-color: var(--bg-clr);
        width: 100%;
    }

    >span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--clr-white);
        padding: 8px;
    }
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 24px;
    background-color: var(--bg-clr);
    padding: 16px 32px;
    border-radius: 50px;
    width: 100%;
    height: 57px;

    >input {
        border: none;
        outline: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: var(--clr-black);
        border: 1px solid var(--bg-clr);
        flex: 1;

        &:focus {
            outline: none;
            border: none;
        }
    }
}

.form-input:focus-within .form-input-icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(0%) hue-rotate(58deg) brightness(100%) contrast(105%);
}

.form-input:has(> input:not(:placeholder-shown)) .form-input-icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(0%) hue-rotate(58deg) brightness(100%) contrast(105%);
}

.form-input:focus-within {
    border: 1px solid var(--clr-purple-3);
}

