@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-200.woff2')  format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-200italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-500italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-900.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/font/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-900italic.woff2') format('woff2');
}