@keyframes logoShiftLeft {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    filter: none;
  }
  100% {
    left: 50%;
    transform: translate(-165%, -50%) scale(1);
  }
}

@keyframes nameWrapperGrow {
  0% { width: 0; }
  100% { width: clamp(300px, 18vw, 400px); }
}

@keyframes nameSlideIn {
  0% { transform: translate(-50%, -50%); }
  100% { transform: translate(0%, -50%); }
}

@keyframes toTopLeft {
  0%   { top: 50%; left: 50%; transform: translate(-50%, -50%); }
  100% { top: 64px; left: 188px; transform: translate(0, 0); }
}

@keyframes bgFade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes noDisplay {
    0% { display: block; }
  100% { display: none; }
}

