/* Mobile */
$bp-phone-xs: 320px;
$bp-phone-sm: 360px;
$bp-phone-md: 400px;
$bp-phone-lg: 480px;
$bp-phone-xl: 560px;

/* Tablets */
$bp-tablet-sm: 640px;
$bp-tablet-md: 768px;
$bp-tablet-lg: 896px;

/* Laptops / Desktops */
$bp-desktop-sm: 1024px;
$bp-desktop-md: 1280px;
$bp-desktop-lg: 1440px;
$bp-desktop-xl: 1600px;
$bp-desktop-2xl: 1920px;