<div class="logo-imprint">
    <img src="assets/icons/global/logo.svg" alt="logo-name" class="which_class_name_i_give_you">
    <img src="assets/icons/global/logo_name.svg" alt="logo-name">
</div>
<div class="imprint-container-main">
    @if (pageType === 'impressum') {
    <div class="imprint-section">
        <div class="imprint-container">
            <div class="imprint-arrow-back-wrapper" (click)="previousSite()">
                <img src="assets/icons/global/arrow_back.svg" alt="arrow-back" class="imprint-arrow-back">
            </div>

            <div class="imprint-details">
                <h1>Impressum</h1>
                <p>Lucas Hamacher</p>
                <span>Kreuzgasse 4, 53894 Mechernich</span>
                <p>Steven Bracke</p>
                <span>Am Worthhang 4, 58511 Lüdenscheid</span>
                <p>Boban Jakovljevic</p>
                <span>Straße, 63263 Neu-Isenburg</span>
                <p>Belal Noori</p>
                <span>Straße hausnummer, plz ort</span>
            </div>
        </div>

        <div class="imprint-container">
            <div class="imprint-details-contact">
                <h2>Contact:</h2>
                <p>Lucas Hamacher:</p>
                <a href="mailto:lucashamacher01@gmail.com">lucashamacher01@gmail.com</a>
                <p>Steven Bracke:</p>
                <a href="mailto:lucashamacher01@gmail.com">steven.bracke@proton.me</a>
                <p>Boban Jakovljevic:</p>
                <a href="mailto:jakovljevic.boban@gmail.com">jakovljevic.boban@gmail.com</a>
                <p>Belal Noori:</p>
                <a href="mailto:linfo@belalnoori.de]">info@belalnoori.de</a>
                <!-- <p>Email: [lucashamacher01@gmail.com,[steven.bracke@proton.me], [Boban], info@belalnoori.de]</p> -->
            </div>
        </div>
    </div>
    }

    @if (pageType === 'datenschutz') {
        <div class="datenschutz-container">
            <div class="imprint-arrow-back-wrapper" (click)="previousSite()">
                <img src="\icons\global\arrow_back.svg" alt="arrow-back" class="imprint-arrow-back">
            </div>
        </div>
        <div class="datenschutz-construction">
            <p>In construction</p>
        </div>
    }
</div>