section {
    height: 100%;
    padding-right: 16px;
    >div {
        width: 100%;
        height: calc(100% - 16px);
        background-color: white;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}