@use './../../../../../styles/variables.scss' as *;

.pp-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
    gap: 16px;
    flex-wrap: wrap;

    >p {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

.avatar-image-selected {
    aspect-ratio: 1/1;
    width: 168px;
    border-radius: 50%;
}

.user-name {
    font-weight: 700;
    font-size: 32px;
}

.avatar-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
}

.avatar-icon {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 64px;
    cursor: pointer;
    border: 5px transparent solid;
    box-sizing: content-box;
    transition: 0.1s ease-in-out;

    &:hover {
        border: 5px solid rgb(228, 228, 228);
        scale: 1.1;
    }

    &.selected {
        border: 5px solid rgb(228, 228, 228);
        scale: 1.1;
    }
}


.checkbox {
    position: relative;
    display: inline-grid;
    place-items: center;
    padding: 0.4em;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background-color: var(--bg-clr);
        opacity: 0;
        transform: scale(0.7);
        transition:
            opacity 180ms ease-out,
            transform 180ms ease-out;
        pointer-events: none;
    }

    &:hover::before {
        opacity: 1;
        transform: scale(1);
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
        font: inherit;
        color: var(--clr-purple-2);
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid var(--clr-purple-2);
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            background-color: var(--clr-purple-1);
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        &:checked::after {
            transform: scale(1);
        }

        &:checked {
            border: 0.15em solid var(--clr-purple-1);
            color: var(--clr-purple-1);
        }

        &:hover {
            border: 0.15em solid var(--clr-purple-1);
            color: var(--clr-purple-1);
        }
    }

    span {
        margin-left: 0.5em;
    }
}

@media (max-width: $bp-phone-xl) {
    .pp-container {
        padding-left: 0px;
        gap: 8px;

        >p {
            font-size: 17px;

            >span {
                padding-inline: 6px;
                font-size: 17px;
                display: block;

                &:hover {
                    padding-inline: 12px
                }
            }
        }
    }
}

@media (max-width: 402px) {
    .pp-container {
        >p {
            >span {
                padding-left: 0px;
                padding-right: 6px;
                padding-block: 4px;
            }
        }
    }
}

@media (max-width: $bp-phone-lg) {
    .avatar-image-selected {
        width: 120px;
    }
}

@media (max-width: $bp-phone-md) {
    .avatar-icon {
        width: 48px;
    }
}