<div class="dialog-container">
    @if(showRegistrationFirstStep) {
    <div class="auth-form-container">
        <h1>Konto erstellen</h1>
        <span class="fs-20 text-center">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
            DABubble-Konto.</span>
    </div>
    <form class="auth-form-container" #form="ngForm" (ngSubmit)="continueRegistration()" id="registerForm">
        <div class="form-input">
            <img src="/icons/login/person_passive.svg" alt="" class="form-input-icon">
            <input name="name" type="text" placeholder="Name und Nachname" [(ngModel)]="fullName" required
                minlength="4">
        </div>
        <div class="form-input">
            <img src="/icons/login/mail_passive.svg" alt="" class="form-input-icon">
            <input #emailModel="ngModel" name="email" type="email" placeholder="beispielname@email.com"
                [(ngModel)]="email" required email>
            @if (emailModel.invalid && (emailModel.dirty || emailModel.touched || form.submitted)) {
            <span class="error-message">Bitte gebe eine valide E-Mail-Adresse an.</span>
            }
        </div>
        <div class="form-input">
            <img src="/icons/login/lock_passive.svg" alt="" class="form-input-icon">
            <input #passwordModel="ngModel" name="password" type="password" placeholder="Passwort" [(ngModel)]="password" required minlength="6">
            @if (passwordModel.invalid && (passwordModel.dirty || passwordModel.touched || form.submitted)) {
            <span class="error-message">Verwende min. 6 Zeichen.</span>
            }
        </div>
        <div class="auth-form-container pp-container">
            <label class="checkbox">
                <input type="checkbox" required [(ngModel)]="acceptPP" name="acceptPP">
            </label>
            <p>Ich stimme der
                <span class="linked-text">Datenschutzerklärung</span> zu.
            </p>
        </div>
    </form>
    <button style="margin-left: auto;" type="submit" class="submit-button"
        [class]="form.valid ? 'btn-enabled' : 'btn-disabled'" [disabled]="!form.valid" form="registerForm">
        <span>Weiter</span>
    </button>
    } @else {
    <div class="auth-form-container">
        <h1>Wähle deinen Avatar</h1>
    </div>
    <form class="auth-form-container" #form="ngForm" (ngSubmit)="submitRegistration()" id="registerForm">
        <img [src]="getAvatarUrl(selectedAvatar().id)" class="avatar-image-selected">
        <span class="user-name">{{ fullName }}</span>
        <span style="font-size: 20px; text-align: left; width: 100%;">Aus der Liste wählen:</span>
        <div class="avatar-selection">
            @for (avatar of avatarList; track $index) {
            <img [src]="getAvatarUrl(avatar.id)" class="avatar-icon" (click)="selectAvatar(avatar)"
                [class.selected]="selectedAvatar().id === avatar.id">
            }
        </div>
    </form>
    <button style="margin-left: auto;" type="submit" class="submit-button"
        [class]="selectedAvatar().id !== 'avatar_default' ? 'btn-enabled' : 'btn-disabled'" [disabled]="selectedAvatar().id === 'avatar_default'"
        (click)="submitRegistration()">
        <span>Weiter</span>
    </button>
    }

    <img src="/icons/global/arrow_back.svg" alt="arrow_back" class="arrow-back" (click)="stepBack()">
</div>