.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    gap: 20px;

    @media (max-width: 1630px) {
        justify-content: space-between;
        padding: 15px 20px;
    }

    @media (max-width: 375px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        padding: 15px 16px;
    }

    @media (max-width: 375px) {
        .topbar {
            img {
                width: auto;
                height: 50px;
            }
        }
    }
}

.topbar-resp-btn-logo-container {
    .back-btn {
        border: none;
        transform: rotate(90deg);
        background: transparent;
    }
}

.logo-title-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    span {
        font-size: 24px;
        font-weight: bold;
    }
}