.mr-8 {
    margin-right: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.ml-16 {
    margin-left: 16px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.left-menu-container {
    font-family: 'Nunito', sans-serif;
    height: 100%;
}


.mat-drawer-container {
    height: 100%;
    background-color: var(--bg-blr);
    margin-left: 16px;
}

.mat-drawer-container.closed {
    margin-left: 0 !important;
}


.left-menu-button {
    display: flex;
    align-items: center;
}

.left-menu-sidenav {
    padding: 30px;
    border-radius: 30px;
    width: 360px;
    background-color: var(--clr-white);
}


.channels-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 16px;
        }
    }
}

.devspace-txt {
    font-weight: 700;
    font-size: 24px;
}

.edit-square-icon {
    &:hover {
        content: url(/assets/icons/global/edit_square_hover.svg);
    }

    &:active {
        content: url(/assets/icons/global/edit_square_click.svg);
    }
}

.channel-panel {
    box-shadow: none;
}

.channel-item {
    background-color: var(--clr-white);
    padding: 8px 16px;
    margin-bottom: 8px;

    &:hover {
        background-color: var(--bg-clr);
        color: var(--clr-purple-3);
        border-radius: 30px;
        font-weight: 700;

        img {
            content: url(/assets/icons/global/tag_hover.svg);

        }
    }

}

::ng-deep .channel-panel .mat-content.mat-content-hide-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-shadow: none;

}

::ng-deep .mat-expansion-panel-header.mat-focus-indicator {
    padding: 0;
}

mat-expansion-panel {
    background-color: var(--clr-white);
}

.header-left {
    font-weight: 700;
    display: flex;
    align-items: center;

    .three-circle-channels-container,
    .account-directMessage-container {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }
    }

    &:hover {
        color: #535AF1;

        .three-circle-channels-container {
            img {
                content: url(/assets/icons/global/workspaces_three_circles_hover.svg);
            }
        }

        .account-directMessage-container {
            img {
                content: url(/assets/icons/global/account_circle_hover.svg);
            }
        }
    }


    &:active {
        color: #000000;

        .arrow-icon {
            color: var(--clr-purple-3);
        }

        .three-circle-channels-container {

            img {
                content: url(/assets/icons/global/workspaces_three_circles_hover.svg);
            }
        }

        .account-directMessage-container {
            img {
                content: url(/assets/icons/global/account_circle_hover.svg);
            }
        }
    }
}


.arrow-icon {
    margin-right: 16px;
    display: inline-block;
    transform: rotate(-90deg);
    transition: transform 0.25s ease;

    &.open {
        transform: rotate(0deg);
    }
}

.channel-add {
    display: flex;
    align-items: center;

    &:hover {
        color: var(--clr-purple-3);

        img {
            content: url(/assets/icons/global/add_circle_hover.svg);

        }
    }

    &:active {
        color: #000000;

        img {
            content: url(/assets/icons/global/add_circle_hover.svg);

        }
    }
}

.account-avatar-name {
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
}

:host ::ng-deep .channel-panel .mat-expansion-panel-content .mat-expansion-panel-body {
  max-height: 68vh;  
  overflow-y: auto;
  overflow-x: hidden;
}

.channel-message-add-container {
    position: relative;

    .add-icon {
        position: absolute;
        top: 9px;
        right: 0px;
        z-index: 3;

        &:hover {
            content: url(/assets/icons/global/add_hover.svg);
        }

        &:active {
            content: url(/assets/icons/global/add_click.svg);
        }
    }
}

.account-submenu-container {
    position: relative;
    border-radius: 50px;
    height: 58px;
    display: flex;
    align-items: start;
    padding: 4px 16px;
    flex-direction: column;
    height: auto;

    &:hover {
        background-color: #ECEEFE;
    }

    .online-status-container {
        position: absolute;
        bottom: 4px;
        left: 50px;
        height: 14px;
        width: 14px;
    }
}

.left-menu-button-icon-container {
    z-index: 1000;
    position: absolute;
    left: -142px;
    top: 60%;
    transform: rotate(270deg);

    width: 339px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background-color: var(--clr-white);
    border-radius: 0 0 30px 30px;
    box-shadow: -4px 4px 7px rgba(0, 0, 0, 0.2);

    font-weight: 700;
    color: #000;
    transition: color 0.2s ease;

    &:hover {
        transform: rotate(270deg);
        color: var(--clr-purple-3);
    }
}

.menu-icon {
    transform: rotate(90deg);
    width: 32px;
    height: 32px;
    fill: white;
}

@media (max-width: 1024px) {
    .left-menu-button-icon-container {
        display: none;
    }

    .mat-drawer-container {
        margin-left: 0;

        .mat-drawer {
            width: 100%;
            border-radius: 0;
        }
    }

    .resp-input-workspace {
        width: 100%;
        height: 48px;
        border-radius: 24px;
        border: solid 1px #ADB0D9;
        padding: 0 20px;
        font-size: 17px;

        &:focus-visible {
            outline: none;
        }
    }
}

.sender-avatar-small,
.result-avatar {
    height: 70px;
    border-radius: 50%;
}

.results-section-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.results-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.result-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-header {
    margin-bottom: 30px;
}