<div class="left-menu-container" [class.closed]="isClosed()">
  <mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="left-menu-sidenav" mode="side" opened="true">

      @if (!isMobile) {
      <div class="channels-button-container">
        <div class="workspace-logo-text-container">
          <img src="/assets/icons/global/workspace_logo.svg" alt="" />
          <span class="devspace-txt">Devspace</span>
        </div>

        <img class="edit-square-icon cp" src="/assets/icons/global/edit_square_default.svg" alt=""
          (click)="openNewMessage()" />
      </div>
      } @else {
      <div class="channels-button-container">
        <input class="resp-input-workspace" type="search" placeholder="Gehe zu..." [value]="newMessage$.query()"
          (keyup)="onNewMessageToKeyup($event)" />
      </div>
      }

      <div *ngIf="!isSearching()" class="channel-message-add-container">

        <img class="add-icon cp" src="/assets/icons/global/add_default.svg" (click)="openAddChannelDialog()" />

        <mat-accordion class="mat-accordion-container">

          @if (!isUserFilterActive()) {

          <mat-expansion-panel hideToggle="true" class="channel-panel" [expanded]="channelOpen()"
            (opened)="channelOpen.set(true)" (closed)="channelOpen.set(false)">
            @if (isNormalView()) {

            <mat-expansion-panel-header class="arrow-channel-add-container">
              <div class="header-left">
                <mat-icon class="arrow-icon" [class.open]="channelOpen()">
                  arrow_drop_down
                </mat-icon>

                <div class="three-circle-channels-container">
                  <img src="/assets/icons/global/workspaces_three_circles_default.svg" />
                  <span class="fs-20">Channels</span>
                </div>
              </div>
            </mat-expansion-panel-header>
            }

            <div class="channel-list ml-16">
              @for (ch of visibleChannels(); track ch.id) {
              <div class="channel-item d-flex mb-16 cp" (click)="selectChannel(ch)">
                <img src="/assets/icons/global/tag.svg" class="mr-8" />
                {{ ch.name }}
              </div>
              }

              <div class="channel-add cp" (click)="openAddChannelDialog()">
                <img src="/assets/icons/global/add_circle.svg" class="mr-8" />
                Channel hinzufügen
              </div>
            </div>
          </mat-expansion-panel>
          }

          @if (!isChannelFilterActive()) {
          <mat-expansion-panel hideToggle="true" class="channel-panel" [expanded]="dmOpen()" (opened)="dmOpen.set(true)"
            (closed)="dmOpen.set(false)">

            @if (isNormalView()) {

            <mat-expansion-panel-header class="arrow-dMessage-container">
              <div class="header-left">
                <mat-icon class="arrow-icon" [class.open]="dmOpen()">
                  arrow_drop_down
                </mat-icon>

                <div class="account-directMessage-container">
                  <img src="/assets/icons/global/account_circle.svg" class="mr-8" />
                  <span class="fs-20">Direktnachrichten</span>
                </div>
              </div>
            </mat-expansion-panel-header>
            }

            @for (user of visibleUsers(); track user.uid) {
            <div class="account-submenu-container cp" (click)="openDirectMessage(user)">
              <div class="account-avatar-name">
                <img [src]="getAvatarPath(user)" class="avatar mr-8" />
                <span>
                  {{ user.displayName || user.name || 'Unbekannter Nutzer' }}
                  @if (user.uid === currentUserUid) {
                  <span>&nbsp;(Du)</span>
                  }
                </span>
              </div>

              <div class="online-status-container">
                <img [src]="userService.getOnlineStatusIcon(user)" />
              </div>
            </div>
            }
          </mat-expansion-panel>
          }

        </mat-accordion>
      </div>

      <div *ngIf="isSearching()" class="search-results-container">

        <div class="search-header">
          <h3>
            <span *ngIf="searchType() === 'channels'">Channels für</span>
            <span *ngIf="searchType() === 'users'">Benutzer für</span>
            <span *ngIf="searchType() === 'all'">Suchergebnisse für</span>
            "{{ searchQuery() }}"
          </h3>
          <span class="result-count">
            ({{ filteredChannels().length + filteredUsers().length }} Ergebnisse)
          </span>
        </div>

        <div *ngIf="filteredChannels().length === 0 && filteredUsers().length === 0" class="no-results">
          <img src="/assets/icons/global/search.svg" alt="no results" class="no-results-icon">
          <p class="no-results-title">Keine Ergebnisse gefunden</p>
          <p class="no-results-text">
            <span *ngIf="searchType() === 'channels'">Versuche es mit einem anderen Channel-Namen</span>
            <span *ngIf="searchType() === 'users'">Versuche es mit einem anderen Benutzernamen</span>
            <span *ngIf="searchType() === 'all'">Versuche es mit anderen Suchbegriffen</span>
          </p>
        </div>

        <div class="results-list">

          <div *ngIf="visibleChannels().length" class="results-section">
            <h4 class="results-section-title">
              <img src="/assets/icons/global/workspaces_three_circles_default.svg" class="section-icon" />
              Channels ({{ visibleChannels().length }})
            </h4>

            @for (channel of visibleChannels(); track channel.id) {
            <div class="result-item channel-result cp" (click)="selectChannel(channel)">
              <img src="/assets/icons/global/tag.svg" class="result-icon" />
              <div class="result-info">
                <span class="result-name">{{ channel.name }}</span>
                <span *ngIf="channel.description" class="result-description">
                  {{ channel.description }}
                </span>
              </div>
            </div>
            }
          </div>

          <div *ngIf="visibleUsers().length" class="results-section">
            <h4 class="results-section-title">
              <img src="/assets/icons/global/account_circle.svg" class="section-icon" />
              Direktnachrichten ({{ visibleUsers().length }})
            </h4>

            @for (user of visibleUsers(); track user.uid) {
            <div class="result-item dm-result cp" (click)="openDirectMessage(user)">
              <div class="dm-avatar-container">
                <img [src]="getAvatarPath(user)" class="result-avatar" />
                <div *ngIf="user.isOnline" class="online-status-dot"></div>
              </div>
              <div class="result-info">
                <span class="result-name">
                  {{ user.displayName || user.name }}
                </span>
              </div>
            </div>
            }
          </div>

        </div>
      </div>

    </mat-drawer>
  </mat-drawer-container>

  <div class="left-menu-button-icon-container cp fs-20" (click)="onDrawerToggle()">
    <div class="left-menu-button">
      {{ drawer.opened ? 'Workspace-Menü schließen'
      : 'Workspace-Menü öffnen' }}
    </div>
  </div>
</div>

@if (showAddPeopleDialog) {
<app-add-people-dialog [channelId]="createdChannelId!" [channelName]="createdChannelName!"
  (close)="showAddPeopleDialog = false" (done)="onAddPeopleDone($event)">
</app-add-people-dialog>
}