/* Grauer Hintergrund */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

/* Dialog-Box */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

  width: 710px;
  max-width: 90vw;
  height: 279px;
  background: white;
  border-radius: 30px;
  padding: 40px;

  z-index: 1001;

}

.text-closeIcon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  row-gap: 14px;
  margin-bottom: 16px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 16px;

  input {
    width: 20px;
    height: 20px;
  }
}

.button-add-container {
  display: flex;
  flex-direction: row-reverse;
}

.button-add-people {
  width: 125px;
  height: 49px;
  border-radius: 25px;
  border: none;
  background-color: #444DF2;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;

}