/* Grauer Hintergrund */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

/* Dialog-Box */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

  width: 710px;
  max-width: 90vw;
  min-height: 279px;
  background: white;
  border-radius: 30px;
  padding: 40px;

  z-index: 1001;

}

.text-closeIcon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  row-gap: 14px;
  margin-bottom: 16px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 16px;

  input {
    width: 20px;
    height: 20px;
  }
}

.button-add-container {
  display: flex;
  flex-direction: row-reverse;
}

.button-add-people {
  width: 125px;
  height: 49px;
  border-radius: 25px;
  border: none;
  background-color: #444DF2;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;

  &:disabled {
    background: #cfcfff;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  width: 335px;
  height: 171px;
  background-color: white;
  border-radius: 0 20px 20px 20px;
  padding: 20px 20px;
  border: solid 1px #ADB0D9;
  overflow-y: auto;
  scrollbar-width: thin;
  left: 64px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    padding: 4px 20px;
    width: fit-content;

    &:hover {
      background-color: #ECEEFE;
      border-radius: 28px;
    }
  }
}

.user-select {
  margin-bottom: 16px;

  input {
    height: 55px;
    width: 100%;
    border-radius: 30px;
    border: solid 1px #ADB0D9;
    font-size: 18px;
    padding-left: 20px;

    &:focus-visible {
      outline: solid 1px #444DF2;
    }
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.chip {
  display: flex;
  align-items: center;
  gap: 6px;

  background: #eef0ff;
  color: #333;

  padding: 6px 10px;
  border-radius: 16px;
  font-size: 14px;
}

.chip-remove {
  cursor: pointer;
  font-weight: bold;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.chip-avatar {
  height: 25px;
  width: 25px;
  border-radius: 13px;
}

.online-status-dot {
  position: absolute;
  left: 58px;
  top: 37px;
}