<div class="overlay" (click)="close.emit()"></div>
<div class="dialog">
    <div class="text-closeIcon-container">
        <h1>Leute hinzufügen</h1>
        <img src="/assets/icons/global/close_right_top.svg" class="close-icon cp" (click)="close.emit()" alt="">
    </div>
    <div class="radio-group">
        <label class="radio-option">
            <input type="radio" name="addPeople" value="all" (change)="selectedOption = 'all'">
            Alle Mitglieder von <span class="channel-name">{{ channelName }}</span> hinzufügen
        </label>

        <label class="radio-option">
            <input type="radio" name="addPeople" value="specific" (change)="selectedOption = 'specific'">
            <span>Bestimmte Leute hinzufügen</span>
        </label>
    </div>

    <!-- INPUT + DROPDOWN -->
    @if (selectedOption === 'specific') {

    <div class="user-select">

        <input type="text" placeholder="Personen auswählen" [(ngModel)]="searchTerm" />

        @if (selectedUsers.length) {
        <div class="chips">

            @for (user of selectedUsers; track user.uid) {
            <div class="chip">
                <img class="chip-avatar" [src]="getAvatarSrc(user)" alt="avatar" />
                <span class="chip-name">{{ user.displayName }}</span>
                <span class="chip-remove" (click)="removeUser(user)">✕</span>
            </div>
            }

        </div>
        }

        @if (searchTerm && filteredUsers().length) {
        <div class="dropdown">

            @for (user of filteredUsers(); track user.uid) {
            <div class="dropdown-item cp" [class.selected]="isUserSelected(user)"
                (click)="toggleUser(user); searchTerm = ''">

                <img class="avatar" [src]="getAvatarSrc(user)" alt="avatar" />
                <div class="online-status-dot">
                    <img [src]="userService.getOnlineStatusIcon(user)" />
                </div>
                <span class="fs-18">{{ user.displayName }}</span>

            </div>
            }

        </div>
        }


    </div>
    }


    <div class="button-add-container">
        <button class="button-add-people cp" [disabled]="!canSubmit()" (click)="onDone()">Erstellen</button>
    </div>
</div>