<section>

    <header>
        <div>
            <h2># DevTeam </h2>
            <img src="/icons/global/keyboard_arrow_down.svg" alt="">
        </div>
        <div>
            <img src="/images/avatars/avatar_default.svg" alt="">
            <span>1</span>
            <img class="add-person" src="/icons/global/person_add1.svg" alt="">
        </div>
    </header>

    <div id="chat-container" *ngIf="channel">
        <div>
            <app-message></app-message>
            <app-message [channel]="channel"></app-message>
        </div>
        <app-message-input [channel]="channel" [currentUserUid]="currentUserUid"></app-message-input>
    </div>

</section>