section {
    font-family: 'Nunito';
    background-color: lightgray;
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 96px;
    padding-left: 32px;
    padding-right: 16px;
    
    >div:nth-child(1) {
        font-size: 24px;
        display: flex;
        align-items: center;
        img {
            height: 40px;
        }
    }
    >div:nth-child(2) {
        font-size: 20px;
        width: fit-content;
        // background-color: white;
        display: flex;
        align-items: center;
        gap: 16px;
        img {
            height: 40px;
        }
    }
    
}   

.add-person {
    content: url('/icons/global/person_add1.svg');
    background-color: var(--bg-clr);
    border-radius: 100%;
    padding: 7px;
        &:hover {
        content: url('/icons/global/person_add2.svg');
        background-color: var(--bg-clr);
        border-radius: 100%;
    }
}