<div class="dialog-container dialog-container-pw">
    <div class="auth-form-container">
        <h1>Passwort zurücksetzen</h1>
    </div>
    <form class="auth-form-container" #form="ngForm" (ngSubmit)="updatePw()">
        <div class="form-input">
            <img src="/icons/login/lock_passive.svg" alt="" class="form-input-icon">
            <input name="newPassword" type="password" placeholder="Neues Passwort" [(ngModel)]="newPassword" required>
        </div>
        <div class="form-input">
            <img src="/icons/login/lock_passive.svg" alt="" class="form-input-icon">
            <input name="newPasswordRepeat" type="password" placeholder="Neues Passwort bestätigen"
                [(ngModel)]="newPasswordRepeat" required>
        </div>
        <button type="submit" class="submit-button" [class]="form.valid && pwIdentical ? 'btn-enabled' : 'btn-disabled'"
            [disabled]="form.invalid || !pwIdentical" style="margin-left: auto;">
            <span>E-Mail senden</span>
        </button>
    </form>
    <img src="/icons/global/arrow_back.svg" alt="arrow_back" class="arrow-back" routerLink="/auth">
</div>