@import url(./styles/keyframes.scss);

:root{
    --login-background-gradient: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    --clr-purple-1: #444DF2;
    --clr-purple-2: #797EF3;
    --clr-purple-3: #535AF1;
    // purple-light is listed in figma but i could not figure out the hex yet
    --clr-purple-light: #000000;
    --bg-clr: #ECEEFE;
    --clr-black: #000000;
    --clr-online-green: #92C83E;
    --clr-gray: #686868;
    --clr-rosa: #ED1E79;
}

*{
    margin: 0;
    box-sizing: border-box;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}