
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@import url(./styles/keyframes.scss);
@import url(./styles/auth-forms.scss);
@import url(./styles/fonts.css);
@import url(./styles/variables.scss);


:root {
    --login-background-gradient: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    --clr-purple-1: #444DF2;
    --clr-purple-2: #797EF3;
    --clr-purple-3: #535AF1;
    --clr-purple-light: #ADB0D9;
    --bg-clr: #ECEEFE;
    --clr-black: #000000;
    --clr-online-green: #92C83E;
    --clr-gray: #686868;
    --clr-rosa: #ED1E79;
    --clr-white: #FFFFFF;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linked-text {
    color: var(--clr-purple-2);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 8px;
    padding-inline: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    transition: 0.1s ease-in-out;
    font-size: 18px;

    &:hover {
        color: var(--clr-purple-1);
        background-color: var(--bg-clr);
        font-weight: 500;
        border: 1px solid var(--clr-purple-light);
    }
}

.fs-20 {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.submit-button {
    height: 49px;
    padding: 16px 32px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn-disabled {
    background-color: var(--clr-gray);
    cursor: not-allowed;
}

.btn-enabled {
    background-color: var(--clr-purple-1);
    cursor: pointer;

    &:hover{
        background-color: var(--clr-purple-2);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cp{
    cursor: pointer;
}