<section class="header">
    <div class="top-bar">
        <div class="topbar">
            <img src="/icons/global/logo-header.svg" alt="logo">
        </div>
        <div class="search-bar">
            <input type="text" id="name" name="name" placeholder="Devspace durchsuchen" class="search-inputs">
            <img src="/icons/global/search.svg" alt="search" class="search-icon-right">
        </div>
        <div class="profil">
            <h1>Frederik Beck</h1>
            <div class="profil-image">
                <img src="icons/global/Avatar.svg" alt="avatar-profil">
                <img src="icons/global/Online.svg" alt="avatar-online-icon" class="online-icon">
            </div>
            <img src="icons/global/keyboard_arrow_down.svg" (click)="toggleDropdownMenu($event)" alt="arrow-drop-down">

            <div class="dropdown-menu" [class.show]="isDropdownMenuOpen">
                <div class="menu-name" (click)="openProfilModal()">Profil</div>
                <div class="menu-name" (click)="onLogout($event)">Log out</div>
            </div>

            <div class="profil-modal" [class.show]="isProfilModalOpen" (click)="$event.stopPropagation()">
                <div class="modal-header">
                    <h2>Profil</h2>
                    <div class="close-icon-wrapper" (click)="closeProfilModal()">
                        <img src="icons/global/close.svg" alt="close" class="close-icon">
                    </div>
                </div>

                <div class="modal-content">
                    <div class="avatar-large">
                        <img src="icons/global/Avatar.svg" alt="avatar-profil">
                    </div>

                    <div class="profil-info">
                        <div class="profil-info-details">
                            <h3>Frederik Beck</h3>
                            <button class="edit-button" (click)="openProfilEditModal()">Bearbeiten</button>
                        </div>

                        <div class="status">
                            <span class="status-dot"></span>
                            <span class="status-text">Aktive</span>
                        </div>
                    </div>

                    <div class="email-section">
                        <img src="icons/login/mail_active.svg" alt="email" class="email-icon">
                        <div class="email-info">
                            <p class="email-label">E-Mail-Adresse</p>
                            <p class="email-address">fred.beck@email.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profil-edit-modal" [class.show]="isProfilEditModalOpen" (click)="$event.stopPropagation()">
                <div class="modal-header">
                    <h2>Dein Profil bearbeiten</h2>
                    <div class="close-icon-wrapper" (click)="closeProfilEditModal()">
                        <img src="icons/global/close.svg" alt="close" class="close-icon">
                    </div>
                </div>

                <div class="modal-content">
                    <div class="avatar-large">
                        <img src="icons/global/Avatar.svg" alt="avatar-profil">
                    </div>

                    <div class="form-section">
                        <div class="circle-profil-name">
                            <img class="" src="icons/global/account_circle.svg" alt="">
                            <label>Vollständiger Name</label>
                        </div>
                        <input type="text" value="Frederik Beck" class="input-field">
                    </div>

                    <div class="modal-actions">
                        <button class="cancel-btn" (click)="closeProfilEditModal()">Abbrechen</button>
                        <button class="save-btn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="profil-modal-overlay" [class.show]="isProfilModalOpen" (click)="closeProfilModal()"></div>

<div class="profil-modal-overlay" [class.show]="isProfilEditModalOpen" (click)="closeProfilEditModal()"></div>