<section class="header">
    <div class="top-bar">
        <div class="topbar">
            <img src="/icons/global/logo-header.svg" alt="logo">
        </div>
        <div class="search-bar">
            <input type="text" id="name" name="name" placeholder="Devspace durchsuchen" class="search-inputs">
            <img src="/icons/global/search.svg" alt="search" class="search-icon-right">
        </div>
        <div class="profil">
            <h1>Frederik Beck</h1>
            <div class="profil-image">
                <img src="icons/global/Avatar.svg" alt="avatar-profil">
                <img src="icons/global/Online.svg" alt="avatar-online-icon" class="online-icon">
            </div>
        </div>
    </div>
</section>