@if(false){
<div class="login-animation-screen">
    <div class="logo-container">
        <div class="logo-animation">
            <img src="/assets/icons/global/logo.svg" alt="logo" class="logo">
            <div>
                <img src="/assets/icons/global/logo_name.svg" alt="logo name" class="logo-name">
            </div>
        </div>
    </div>
</div>
}


<div class="auth-window">
    <div class="top-row">
        <!-- <app-logo></app-logo> -->
        <img src="/assets/icons/global/logo-header.svg" alt="" class="logo-static">
        @if (showRegistrationLink() && !isMobile()) {
        <div>
            <span>Neu bei DABubble?</span>
            <span class="linked-text" routerLink="/auth/register">Konto erstellen</span>
        </div>
        }
    </div>

    <router-outlet></router-outlet>

    @if (showRegistrationLink() && isMobile()) {
    <div class="mobile-registration-link">
        <span style="font-size: 18px;">Neu bei DABubble?</span>
        <span class="linked-text registration-mobile" routerLink="/auth/register">Konto erstellen</span>
    </div>
    } @else if (!isMobile()) {
    <div class="links">
        <span class="linked-text" routerLink="/impressum">Impressum</span>
        <span class="linked-text" routerLink="/datenschutz">Datenschutz</span>
    </div>
    }
</div>