.login-animation-screen {
  position: relative;
  height: 100dvh;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--login-background-gradient);
    opacity: 1;
    animation: bgFade 0.6s cubic-bezier(.22,.61,.36,1) forwards;
    animation-delay: 2.1s;
  }
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: toTopLeft 0.6s cubic-bezier(.22,.61,.36,1) forwards;
  animation-delay: 1.6s;
  width: fit-content;
}

.logo-animation {
  position: relative;
  display: inline-block;
  height: 56px;
}

.logo-animation > .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 56px;
  width: auto;
  animation: logoShiftLeft 0.7s cubic-bezier(.22,.61,.36,1) forwards;
}

.logo-animation > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -50%);
  height: 100%;
  width: 0;
  overflow: hidden;
  z-index: 2;
  animation: nameWrapperGrow 0.7s cubic-bezier(.22,.61,.36,1) forwards;
   animation-delay: 0.5s;

  > .logo-name {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    height: 32px;
    width: auto;
    animation: nameSlideIn 1.2s ease forwards;
      animation-delay: 0.5s;
  }
}