@if(false){
<div class="login-animation-screen">
    <div class="logo-container">
        <div class="logo-animation">
            <img src="/icons/global/logo.svg" alt="logo" class="logo">
            <div>
                <img src="/icons/global/logo_name.svg" alt="logo name" class="logo-name">
            </div>
        </div>
    </div>
</div>
}


<div class="auth-window">
    <div class="top-row">
        <app-logo></app-logo>
        <div>
            <span>Neu bei DABubble?</span>
            <span class="linked-text">Konto erstellen</span>
        </div>
    </div>
    <app-login-form></app-login-form>

    <div>
        <span>Impressum</span>
        <span>Datenschutz</span>
    </div>
</div>