<div class="login-animation-screen" #splash>
    <div class="logo-container" #splashLogo>
        <div class="logo-animation">
            <img src="assets/icons/global/logo.svg" alt="logo" class="logo" #splashIcon>
            <div>
                <img src="assets/icons/global/logo_name.svg" alt="logo name" class="logo-name">
            </div>
        </div>
    </div>
</div>

<div class="auth-window">
    <div class="top-row">
        <img src="assets/icons/global/logo-header.svg" alt="" class="logo-static" #targetLogo>
        @if (showRegistrationLink() && !isMobile()) {
        <div>
            <span>Neu bei DABubble?</span>
            <span class="linked-text" routerLink="/auth/register">Konto erstellen</span>
        </div>
        }
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    @if (showRegistrationLink() && isMobile()) {
    <div class="mobile-registration-link">
        <span style="font-size: 18px;">Neu bei DABubble?</span>
        <span class="linked-text registration-mobile" routerLink="/auth/register">Konto erstellen</span>
    </div>
    } @else if (!isMobile()) {
    <div class="links">
        <a class="linked-text" href="/angular-projects/browser/impressum" target="_blank" rel="noopener">
            Impressum
        </a>

        <a class="linked-text" href="/angular-projects/browser/datenschutz" target="_blank" rel="noopener">
            Datenschutz
        </a>
    </div>
    }
</div>