@use './../../../../styles/variables.scss' as *;

.login-animation-screen {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  z-index: 1;
  animation: noDisplay 0.1s forwards;
  animation-delay: 2.2s;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--login-background-gradient);
    opacity: 1;
    animation: bgFade 0.6s cubic-bezier(.22, .61, .36, 1) forwards;
    animation-delay: 2.1s;
  }
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: toTopLeft 0.6s cubic-bezier(.22, .61, .36, 1) forwards;
  animation-delay: 1.6s;
  width: fit-content;
}

.logo-animation {
  position: relative;
  display: inline-block;
  height: 70px;
}

.logo-animation>.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: auto;
  animation: logoShiftLeft 0.7s cubic-bezier(.22, .61, .36, 1) forwards;
}

.logo-animation>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, -50%);
  height: 100%;
  width: 0;
  overflow: hidden;
  z-index: 2;
  animation: nameWrapperGrow 0.7s cubic-bezier(.22, .61, .36, 1) forwards;
  animation-delay: 0.5s;

  >.logo-name {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    height: 24px;
    width: auto;
    animation: nameSlideIn 1.2s ease forwards;
    animation-delay: 0.5s;
  }
}

// Main Section

.auth-window {
  background-color: var(--bg-clr);
  height: 100dvh;
  max-height: 100dvh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 0;
  padding: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  >div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    font-size: 18px;
  }
}

.logo-static{
  height: 70px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media (max-width: $bp-tablet-md) {
  .auth-window {
    padding: 40px;
  }
}

@media (max-width: $bp-tablet-sm) {
  .auth-window {
    justify-content: center;
    gap: 32px;
  }

  .top-row {
    justify-content: center;
  }
}

@media (max-width: $bp-phone-xl) {
  .auth-window {
    padding: 24px;
    justify-content: center;
    gap: 32px;
  }
}

@media (max-width: $bp-phone-lg) {
  .auth-window {
    padding: 16px;
  }
}

@media (max-width: $bp-phone-md) {
  .auth-window {
    padding: 12px;
  }
}