<div id="message-container" class="message-container" #container>
  <div class="mention-dropdown" *ngIf="showMentions" [ngStyle]="{
      left: mentionPosition.left + 'px',
      bottom: mentionPosition.bottom + 'px'
    }">
    <div class="mention-item" *ngFor="let user of filteredUsers" (click)="onSelectUser(user)">
      <span class="mention-avatar">
        <img [src]="'/images/avatars/' + (user.avatarUrl || 'avatar_default') + '.svg'"
          [alt]="user.displayName || user.name" />

        <!-- Online-Indikator -->
        <span *ngIf="user.isOnline" class="status-dot"></span>
      </span>

      <span class="mention-name">
        {{ user.displayName || user.name }}
      </span>
    </div>

  </div>

  <textarea #messageInput placeholder="Antworten..." (keyup)="onKeyup($event)"></textarea>

  <div id="message-actions">
    <div>
      <img src="/icons/global/smile1.svg" alt="Emoji" class="form-input-icon icon-smile" />
      <img src="/icons/global/at1.svg" alt="Mention" class="form-input-icon icon-at" />
    </div>
    <img src="/icons/global/send1.svg" alt="Send" class="icon-send" />
  </div>
</div>